@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollInline {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(-33.33%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scrollInline {
  animation: scrollInline 60s linear infinite;
}

.animate-scrollReverse {
  animation: scrollReverse 60s linear infinite;
}
